body {
    background-color: lightgreen;
    font-family: 'Changa', sans-serif;
}

ul {
    text-align: left;
    list-style-position: inside;
}

.article-title {
    color: blue;
}

.article-description {
    color: red;
    list-style-type: none;
}